@media only screen and (max-width: 800px) {
body{
    background-color: rgb(136, 181, 240);
}
.topnav{
    background-color: rgb(76, 67, 67);
    text-align: left;
    color: azure;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
    overflow: hidden;
    margin: auto;
    border-radius: 8px;
}
button{
    background-color: black;
    color: aliceblue;
    size-adjust: 2px;
}
}



